<!DOCTYPE html>
<html lang="zh-cn">
	<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>语言政策领域知识图谱</title>
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/index.css">
	<script src="/static/js/jquery-3.1.1.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/index.js"></script>
	</head>
<body>
<div class="header">
    <span class="logo">语言政策领域知识图谱</span>
    <ul class="nav nav-pills">
        <li class="active"><a href="/home/">语言政策主题政策句检索</a></li>
        <li><a href="/show_kg_search/">语言政策领域知识图谱检索</a></li>
        <li><a href="/show_kg_analysis/">语言政策领域知识图谱追踪</a></li>
		<li ><a href="/home/">返回平台首页</a></li>
    </ul>
</div>
<div class="container-fluid main">  
    <div class="col-sm-3 left">
        <p class="nav-title">文本主题体系</p>
    	<div class="tree">
            <ul>
                <li>
                    <span><i class="icon-folder-open"></i>语言政策</span> 
                    <ul>
                        <li>
                            <span><i class="icon-minus-sign"></i> 汉语</span> 
                            <ul>
                                <li>
                                    <span><i class="icon-leaf"></i> 文字</span> 
                                    <ul class="li-click">
                                        <li>
                                            <span><i class="icon-leaf"></i>繁体字</span> 
                                        </li>
                                        <li>
                                            <span><i class="icon-leaf"></i>简化字</span> 
                                        </li>
                                        <li>
                                            <span><i class="icon-leaf"></i>繁简字</span> 
                                        </li>
                                        <li>
                                            <span><i class="icon-leaf"></i>简体字</span> 
                                        </li>
                                        <li>
                                            <span><i class="icon-leaf"></i>异体字</span> 
                                        </li>
                                        <li>
                                            <span><i class="icon-leaf"></i>异形字</span> 
                                        </li>
                                        <li>
                                            <span><i class="icon-leaf"></i>形近字</span> 
                                        </li>
                                        <li>
                                            <span><i class="icon-leaf"></i>二简字</span> 
                                        </li>
                                        <li>
                                            <span><i class="icon-leaf"></i>生僻字</span> 
                                        </li>
                                        <li>
                                            <span><i class="icon-leaf"></i>正体字</span> 
                                        </li>
                                        <li>
                                            <span><i class="icon-leaf"></i>缺损字</span> 
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <span><i class="icon-leaf"></i> 词语</span> 
                                    <ul class="li-click">
                                    <li>
                                            <span><i class="icon-leaf"></i>字母词</span> 
                                    </li>
                                    <li>
                                            <span><i class="icon-leaf"></i>方言词</span> 
                                    </li>
                                    <li>
                                            <span><i class="icon-leaf"></i>外来词</span> 
                                    </li>
                                    <li>
                                            <span><i class="icon-leaf"></i>缩写词</span> 
                                    </li>
                                    <li>
                                            <span><i class="icon-leaf"></i>新词语</span> 
                                    </li>   
                                    </ul>
                                </li>
                            
                            
                                <li>
                                    <span><i class="icon-leaf"></i> 语音</span> 
                                    <ul class="li-click">
                                    <li>
                                            <span><i class="icon-leaf"></i>普通话</span> 
                                        </li>
                                    <li>
                                            <span><i class="icon-leaf"></i>方言</span> 
                                    </li>
                                    <li>
                                            <span><i class="icon-leaf"></i>土语</span> 
                                    </li>
                                    </ul>
                                </li>
                            
                            
                                <li>
                                    <span><i class="icon-leaf"></i> 社会用字用语</span> 
                                    <ul class="li-click">
                                    <li>
                                            <span><i class="icon-leaf"></i>用字</span> 
                                        </li>
                                        <li>
                                            <span><i class="icon-leaf"></i>用词</span> 
                                        </li>
                                        <li>
                                            <span><i class="icon-leaf"></i>用语</span> 
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <span><i class="icon-minus-sign"></i> 少数民族语言</span> 
                            <ul>
                                <li>
                                    <span><i class="icon-leaf"></i>文字</span> 
                                    <ul class="li-click">
                                        <li>
                                            <span><i class="icon-leaf"></i>拼音文字</span> 
                                        </li>
                                        <li>
                                            <span><i class="icon-leaf"></i>柯尔克孜文</span> 
                                        </li>
                                        <li>
                                            <span><i class="icon-leaf"></i>苗文</span> 
                                        </li>
                                        <li>
                                            <span><i class="icon-leaf"></i>布依文</span> 
                                        </li>
                                        <li>
                                            <span><i class="icon-leaf"></i>傣文</span> 
                                        </li>
                                        <li>
                                            <span><i class="icon-leaf"></i>满文</span> 
                                        </li>
                                        <li>
                                            <span><i class="icon-leaf"></i>桐文</span> 
                                        </li>
                                        <li>
                                            <span><i class="icon-leaf"></i>哈萨克文</span> 
                                        </li>
                                        <li>
                                            <span><i class="icon-leaf"></i>拉祜文</span> 
                                        </li>
                                        <li>
                                            <span><i class="icon-leaf"></i>哈尼文</span> 
                                        </li>
                                        <li>
                                            <span><i class="icon-leaf"></i>壮文</span> 
                                        </li>
                                        <li>
                                            <span><i class="icon-leaf"></i>蒙古文</span> 
                                        </li>
                                        <li>
                                            <span><i class="icon-leaf"></i>维吾尔文</span> 
                                        </li>
                                        <li>
                                            <span><i class="icon-leaf"></i>瑶文</span> 
                                        </li>
                                        <li>
                                            <span><i class="icon-leaf"></i>朝鲜文</span> 
                                        </li>
                                        <li>
                                            <span><i class="icon-leaf"></i>白文</span> 
                                        </li>
                                        <li>
                                            <span><i class="icon-leaf"></i>锡伯文</span> 
                                        </li>
                                        <li>
                                            <span><i class="icon-leaf"></i>藏文</span> 
                                        </li>
                                        <li>
                                            <span><i class="icon-leaf"></i>彝文</span> 
                                        </li>
                                        <li>
                                            <span><i class="icon-leaf"></i>佤文</span> 
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <span><i class="icon-leaf"></i> 语音</span> 
                                    <ul class="li-click">
                                    <li>
                                            <span><i class="icon-leaf"></i>傣语</span> 
                                    </li>
                                    <li>
                                            <span><i class="icon-leaf"></i>藏语</span> 
                                    </li>
                                    <li>
                                            <span><i class="icon-leaf"></i>桐语</span> 
                                    </li>
                                    <li>
                                            <span><i class="icon-leaf"></i>苗语</span> 
                                    </li>
                                    <li>
                                            <span><i class="icon-leaf"></i>佤语</span> 
                                    </li>
                                    <li>
                                            <span><i class="icon-leaf"></i>布依语</span> 
                                    </li>
                                    <li>
                                            <span><i class="icon-leaf"></i>柯尔克孜语</span> 
                                    </li>
                                    <li>
                                            <span><i class="icon-leaf"></i>朝鲜语</span> 
                                    </li>
                                    <li>
                                            <span><i class="icon-leaf"></i>锡铂语</span> 
                                    </li>
                                    <li>
                                            <span><i class="icon-leaf"></i>鄂伦春语</span> 
                                    </li>
                                    <li>
                                            <span><i class="icon-leaf"></i>蒙古语</span> 
                                    </li>
                                    <li>
                                            <span><i class="icon-leaf"></i>拉祜语</span> 
                                    </li>
                                    <li>
                                            <span><i class="icon-leaf"></i>壮语</span> 
                                    </li>
                                    <li>
                                            <span><i class="icon-leaf"></i>彝语</span> 
                                    </li>
                                    <li>
                                            <span><i class="icon-leaf"></i>白语</span> 
                                    </li>
                                    <li>
                                            <span><i class="icon-leaf"></i>哈萨克语</span> 
                                    </li>
                                    <li>
                                            <span><i class="icon-leaf"></i>少数民族语</span> 
                                    </li>
                                    <li>
                                            <span><i class="icon-leaf"></i>维吾尔语</span> 
                                    </li>
                                    <li>
                                            <span><i class="icon-leaf"></i>纳西语</span> 
                                    </li>                           
                                    </ul>
                                </li>
                            <li>
                                    <span><i class="icon-leaf"></i> 双语</span> 
                                    <ul class="li-click">
                                        <li>
                                            <span><i class="icon-leaf"></i>双语</span> 
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-sm-9">
        <div class="categorys">
            <br>
            <div class="nav-title">文本标签</div>
            <button class="btn btn-info">语言规范</button>
            <button class="btn btn-info">语言教育</button>
            <button class="btn btn-info">语言管理</button>
            <button class="btn btn-info">语言评估</button>
            <button class="btn btn-info">语言传播</button>
            <button class="btn btn-info">语言推广</button>
            <button class="btn btn-info">语言测试</button>
            <button class="btn btn-info">语言信息化</button>
            <button class="btn btn-info">语言规划</button>
            <button class="btn btn-info">语言调查</button>
            <button class="btn btn-info">语言资源</button>
            <button class="btn btn-info">语言权利</button>
            <button class="btn btn-info">语言生活</button>
            <button class="btn btn-info">语言保护</button>
        </div>
        <div class="content row">
            <div class="col-sm-9">
                <ul class="list-group law-list">
                             
                </ul>
            </div>
            </div>
        </div>
    </div>
</div>
<div class="ui grid" id="footer" align="center">
    
 <p><a href="http://cnlr.blcu.edu.cn/">北京语言大学-国家语言资源监测与研究平面媒体中心</a>版权所有  developed by <a href="http://weibo.com/u/2111855055">liu huanyong</a></p>
</div>

</div>
</body>
</html>